#output {
  background-color: #2a3038;
  border: none;
}
.btn:disabled .icon,
.btn:disabled .text,
.btn:not(:disabled) .disabled-icon,
.btn:not(:disabled) .disabled-text {
  display: none;
}
.btn .disabled-icon,
.btn .icon {
  margin-right: 5px;
}
.icon-btn .mdi {
  vertical-align: middle;
}
