#output {
	background-color: #2A3038;
	border: none;
}

.btn:not(:disabled) .disabled-text,
.btn:not(:disabled) .disabled-icon,
.btn:disabled .text,
.btn:disabled .icon {
	display: none;
}

.btn .disabled-icon,
.btn .icon {
	margin-right: 5px;
}

.icon-btn .mdi {
	vertical-align: middle;
}